# Classification Exercises

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import acquire as aq

### 1. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

#### print the first 3 rows

In [ ]:
iris_df  = sns.load_dataset('iris')

iris_df.head(3)

#### print the number of rows and columns (shape)

In [ ]:
iris_df.shape

#### print the column names

In [ ]:
iris_df.nunique()

#### print the data type of each column

In [ ]:
iris_df.info()

#### print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [ ]:
iris_df.describe()

### 2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [ ]:
telco_df = pd.read_excel('Spreadsheets_Exercises_Jeff.xlsx')
telco_df.head()

#### assign the first 100 rows to a new dataframe, df_excel_sample

In [ ]:
telco_df_sample = telco_df.iloc[0:100]
telco_df_sample.shape

#### print the number of rows of your original dataframe

In [ ]:
telco_df.shape

#### print the first 5 column names

In [ ]:
telco_df.columns[0:5]

#### print the column names that have a data type of object

In [ ]:
telco_df.dtypes[telco_df.dtypes == 'object']

#### compute the range for each of the numeric variables.

In [ ]:
telco_df.describe()
numerics = telco_df.select_dtypes(include=["float64", "int64"])
numerics.max() - numerics.min()

### 3. Read the data from this google sheet into a dataframe, df_google

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

train_df = pd.read_csv(csv_export_url)
train_df.head()

#### print the first 3 rows

In [ ]:
train_df.head(3)

#### print the number of rows and columns

In [ ]:
train_df.shape

#### print the column names

In [ ]:
train_df.columns

#### print the data type of each column

In [ ]:
train_df.dtypes

#### print the summary statistics for each of the numeric variables

In [ ]:
train_df.describe()

#### print the unique values for each of your categorical variables

In [ ]:
print(train_df.dtypes)
#print("Name: ", train_df.Name.unique())
print("Sex: ", train_df.Sex.unique())
#print("Ticket: ", train_df.Ticket.unique())
#print("Cabin: ", train_df.Cabin.unique())
print("Embarked: ", train_df.Embarked.unique())

## Iris Data
- Importing and cleaning the Iris Data

### Using the Iris Data:
- Use the function defined in acquire.py to load the iris data.
- Drop the species_id and measurement_id columns.
- Rename the species_name column to just species.
- Create dummy variables of the species name.
- Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.###

In [3]:
iris_df = aq.get_iris_data()
iris_df.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa